.User_Profile {
  width: auto;
  height: auto;
  position: absolute;
  justify-items: center;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  color: rgba(189, 195, 212, 1);

  .Header {
    position: relative;
    background-color: rgba(17, 19, 23, 1);
    border-radius: 15px 15px 0px 0px;
    width: 455px;
    height: 140px;
  }

  .Infos {
    background-color: rgba(17, 19, 23, 1);
    width: 455px;
    height: auto;
    border-top: 2px solid #484c56;

    .User_Avatar {
      border: 2px solid #484c56;
      box-sizing: content-box;
      position: absolute;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    .User_Name {
      font-weight: 800;
      margin-top: 130px;
      font-size: 25px;
    }

    .Follows {
      font-weight: 600;
      color: #7f8494;
      margin-top: 12px;
      font-size: 14px;
    }

    .User_Bio {
      padding: 0px 10px 0px 10px;
      margin-top: 38px;
      padding-bottom: 48px;
      font-weight: 600;
      color: #7f8494;
    }
  }

  .Footer {
    background-color: rgba(17, 19, 23, 1);
    width: 455px;
    height: auto;
    border-top: 2px solid #484c56;
    border-radius: 0px 0px 15px 15px;

    p {
      font-weight: 600;
      color: #7f8494;
      margin-top: 20px;
      font-size: 16px;
    }

    .User_Button {
      background-color: rgb(68, 187, 132);
      border: none;
      width: 35px;
      height: 35px;
      border-radius: 10px;
      position: absolute;
      bottom: 15px;
      right: 15px;
      cursor: pointer;
      transition: 0.2s;

      .Icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        width: 25px;
        height: 25px;
        color: rgb(38, 40, 45);
        transition: 0.2s;
        animation: buttonIconAnimation 2s infinite;
      }

      &:hover {
        transform: scale(0.9);
        background-color: rgb(52, 149, 103);
      }
      &:hover .Icon {
        color: rgba(189, 195, 212, 1);
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
    .Return_Button {
      background-color: rgb(183, 56, 92);
      border: none;
      width: 25px;
      height: 25px;
      border-radius: 10px;
      position: absolute;
      top: 15px;
      left: 15px;
      cursor: pointer;
      transition: 0.2s;

      .Icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 20px;
        height: 20px;
        color: rgb(215, 219, 230);
        transition: 0.2s;
        // animation: buttonIconAnimation 2s infinite;
      }

      &:hover {
        transform: scale(0.9);
        background-color: rgb(152, 30, 81);
      }
      &:hover .Icon {
        color: rgba(17, 19, 23, 1);
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .Organizations_Content {
      margin-top: 30px;

      padding-bottom: 50px;

      img {
        margin: 0px 5px 0px 5px;
      }
    }
  }
}

@keyframes buttonIconAnimation {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }

  30% {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }

  50% {
    transform: translateX(-50%) translateY(-50%) rotate(-80deg);
  }
  70% {
    transform: translateX(-50%) translateY(-50%) rotate(-15deg);
  }

  100% {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}
